.burger {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
  transition: $transition300;

  .header--open & {
    &__menu {
      background-color: transparent;

      &::after {
        background-color: $color-white;
        top: 0;
        transform: translate(-50%, 0) rotate(45deg);
      }
    }
  }


  &__menu {
    background-color: $color-endeavour;
    border-radius: 10px;
    height: 2px;
    position: relative;
    width: 24px;
    transition: background-color 0s 0.3s;

    &::before,
    &::after {
      background-color: $color-endeavour;
      border-radius: 10px;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: -8px;
      transform: translate(-50%, 0);
      width: 32px;
    }

    &::after {
      top: 8px;
    }
  }
}
